.statistics {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.statList {
  display: flex;
  list-style: none;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: teal;
}

.label {
  margin-bottom: 10px;
}

.docx {
  background-color: rgb(47, 126, 210);
}
.mp3 {
  background-color: rgb(102, 50, 150);
}
.psd {
  background-color: rgb(145, 76, 172);
}
.pdf {
  background-color: rgb(54, 75, 93);
}
